.toggle {
    height: 30px;
    width: 80px;
}

.toggle input {
    top:-1px;
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    background: var(--color-c);
    cursor: pointer;
    -webkit-appearance: none;
}

.toggle input:before {
    position: absolute;
    left: var(--toggle-position-left);
    top: 2px;
    content: "";
    border-radius: 50%;
    box-shadow: var(--box-shadow-hover);
    background: var(--background);
    transition: left 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    width: 25px;
    height: 25px;
}

.toggle input:checked:before {
    box-shadow: var(--box-shadow);
    left: var(--toggle-position-left-before);
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-radius: 50%;
    transition: left;
}

.moon, .sun {
    transition: 350ms;
}

.moon {
    position: relative;
    top: -33px;
    left: 62px;
    pointer-events: none;
    height: 15px;
    width: 15px;
}

.moon svg {
    color: var(--moon) !important;
    font-size: 20px;
}

.sun {
    position: relative;
    top: -48px;
    left: 6px;
    pointer-events: none;
    height: 18px;
    width: 18px;
    animation: var(--animation-sun);
}

.sun svg {
    color: var(--sun) !important;
    font-size: 21px;
}

.large {
    height: 30px;
    width: 80px;
}

.large input:before {
    width: 25px;
    height: 25px;
}

.large input:checked:before {
    left: var(--toggle-position-left-before);
}
