.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.paginationContainer *{
    color: var(--color-text);
}



.paginationControls {
    display: flex;
    align-items: center;
    gap: 5px;
}
